@import "variables";
@import '~bulma/bulma';
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~animate.css/animate.min.css";

.pointer {
  cursor: pointer;
}

body.loader-shown {
  height: 100vh;
  overflow-y: hidden;
}
